:root {
    --ff-special: "Marcellus SC", "Optima", serif;
    --ff-heading: "Marcellus", "Optima", serif;
    --ff-body: "Raleway", sans-serif;

    --fs-special: clamp(3.5rem, 12vw + 1rem, 12rem);
    --fs-heading: 2rem;
    --fs-body: 1rem;

    --clr-bg1: #F8F8F8;
    --clr-bg2: #F0F0F0;
    --clr-bg3: #E8E8E8;
    --clr-fg1: #101010;
    --clr-green: #243B10;
    --clr-red: #3B1210;
    --clr-cyan: #10393B;
    --clr-purple: #27103B;

    background: var(--clr-green);
}
body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: 1.6;
    margin: 0;
    padding: 0;

}
header {
    font-family: var(--ff-special);
    font-size: var(--fs-heading);
    color: var(--clr-bg1);
    background-color: var(--clr-green);
}
h1 {
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
}
footer {
    background-color: var(--clr-bg1);
}
.kwarg {
    font-family: var(--ff-special);
    font-size: var(--fs-body);
}
.red {
    background-color: var(--clr-red);
}
.green {
    background-color: var(--clr-green);
}
.main {
   background-color: var(--clr-bg2);
}
.left {
   background-color: var(--clr-bg3);
}
.right {
   background-color: var(--clr-bg3);
}

button {
    font-family: var(--ff-special);
    font-size: var(--fs-body);
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}
@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  header   { order: 1; }
  .left    { order: 2; }
  .main    { order: 3; }
  .right   { order: 4; }
  footer   { order: 5; }
}