:root {
  --ff-special: "Marcellus SC", "Optima", serif;
  --ff-heading: "Marcellus", "Optima", serif;
  --ff-body: "Raleway", sans-serif;
  --fs-heading: 1.75rem;
  --fs-body: 1rem;
  --clr-bg1: #F8F8F8;
  --clr-bg2: #F0F0F0;
  --clr-bg3: #E8E8E8;
  --clr-fg1: #101010;
  --clr-green: #243B10;
  --clr-red: #3B1210;
  --clr-cyan: #10393B;
  --clr-purple: #27103B;
  --clr-yellow: #3B3B10;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  background-color: var(--clr-bg2);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: var(--ff-special);
  font-size: var(--fs-heading);
  color: var(--clr-bg1);
  background-color: var(--clr-green);
  grid-column: header;
  height: 1.5em;
  padding: 0.5em 1em;
}

.top_corner {
  background-color: var(--clr-green);
}

.main {
  background-color: var(--clr-bg2);
  grid-column: main;
  padding: 1em;
  height: 1fr;
}

.side {
  background-color: var(--clr-bg3);
  grid-column: side;
  padding: 1em;
}

footer {
  font-family: var(--ff-body);
  background-color: var(--clr-bg1);
  grid-column: footer;
  min-height: 1.5em;
  padding: 1em;
  text-align: center;
}

h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
}

h2 {
  font-family: var(--ff-heading);
  font-size: var(--fs-body);
}

button {
  background-color: var(--clr-green);
  font-family: var(--ff-heading);
  font-size: var(--fs-body);
  color: var(--clr-bg1);
  border: none;
  border-radius: var(--fs-body);
  min-width: 5em;
  padding: 0.5em 1em;
  margin: 0;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  opacity: 0.8;
}

.chart_container {
  position: relative;
  height: 70vh;
}

table {
  width: 100%
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "side"
    "footer";
}

@media only screen and (min-width: 860px) {
  body {
    --fs-body: 1.25rem;
    --fs-heading: 2rem;
    grid-template-columns: minmax(1em, 1fr) minmax(400px, 1000px) minmax(250px, 400px) minmax(1em, 1fr);
    grid-template-areas:
      ". header header ."
      ". main side ."
      "footer footer footer footer";
  }
  header {
    padding: 0.5em 0;
  }
}
